<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A page for reviewing students' tweets for the reading materials."
    />
    <meta name="author" content="Yixiang Xie & Ting Tang" />
    <title>Tweeting for Reading</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://css.gg/math-plus.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <a href="./index.html">Tweeting for Reading</a>
        </h1>
      </nav>
      <div class="user-info">
        <img src="img/avatar-tweet.png" alt="User avatar" />
        <span class="user-name">Tom</span>
      </div>
    </header>

    <div class="container">
      <div class="toolbar">
        <input
          id="search-input"
          type="search"
          placeholder="Type e.g. student name"
        />
        <div class="filter">
          <label for="filter-input">Filter</label>
          <select id="filter-input" name="filter-input">
            <option value="name">name</option>
            <option value="content">content</option>
          </select>
        </div>
        <button id="create-button">
          <i class="gg-math-plus"></i>
          Create student
        </button>
      </div>
      <div class="content"></div>
      <div class="modal create-modal">
        <div class="modal-content">
          <h2>Create student</h2>
          <form class="create-student-form">
            <div class="form-item">
              <label for="twitterAccount">Twitter handle:</label>
              <input
                type="text"
                placeholder="Twitter handle"
                id="twitterAccount"
                name="twitterAccount"
                required
              />
            </div>
            <div class="form-item">
              <label for="nuid">NUID:</label>
              <input
                type="text"
                placeholder="NUID"
                id="nuid"
                name="nuid"
                required
              />
            </div>
            <div class="form-item">
              <label for="name">Legal name:</label>
              <input
                type="text"
                placeholder="Student legal name"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="button-container">
              <button type="button" class="cancel-button">Cancel</button>
              <button type="submit" class="confirm-button">Confirm</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal edit-modal">
        <div class="modal-content">
          <h2>Edit student</h2>
          <form class="edit-student-form">
            <div class="form-item">
              <label for="nuid">NUID:</label>
              <input
                type="text"
                placeholder="NUID"
                id="nuid"
                name="nuid"
                required
              />
            </div>
            <div class="form-item">
              <label for="name">Legal name:</label>
              <input
                type="text"
                placeholder="Student legal name"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="hidden-form-item">
              <input type="text" id="id" name="id" required />
            </div>
            <div class="button-container">
              <button type="button" class="cancel-button">Cancel</button>
              <button type="submit" class="confirm-button">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
