<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A page for reviewing students' tweets for the reading materials."
    />
    <meta name="author" content="Yixiang Xie & Ting Tang" />
    <title>Tweeting for Reading</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <h1>TweetingForReading</h1>
    <span class="prompt">A page for reviewing students' tweets for the reading materials.</span>

    <div class="login-section">
      <span class="sign-in-tab">Sign in</span>
      <form class="sign-in-form">
        <div class="form-item">
          <label for="username">Username</label>
          <input
            type="text"
            placeholder="Enter your username"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="form-item">
          <label for="password">Password</label>
          <input
            type="password"
            placeholder="Enter your password"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="button-container">
          <button type="submit" id="sign-in-button">Sign in</button>
        </div>
      </form>
    </div>

    <footer>
      <small>Copyright ©2022 Produced by Yixiang Xie & Ting Tang</small>
    </footer>
  </body>
</html>
