<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A page for reviewing students' tweets for the reading materials."
    />
    <meta name="author" content="Yixiang Xie & Ting Tang" />
    <title>Tweeting for Reading</title>
    <link href="https://css.gg/math-plus.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="./main.html">Tweeting for Reading</a>
      </nav>
    </header>

    <div class="outer-container">
      <div class="sidebar">
        <ul>
          <li>Students</li>
          <li>Assignments</li>
        </ul>
      </div>
      <div class="main">
        <div class="toolbar">
          <input
            id="search-input"
            type="search"
            placeholder="Type e.g. student name"
          />
          <div class="filter">
            <label for="filter-input">Filter</label>
            <select id="filter-input" name="filter-input">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <button id="create-button">
            <i class="gg-math-plus"></i>
            Create student
          </button>
        </div>
        <div class="content">
          <div class="content-card">
            <div class="personal-info">
              <img
                src="../assets/img/avatar-tweet.png"
                alt="The profile image for the twitter user."
              />
              <div class="info-list">
                <div class="first-row">
                  <span class="student-name">Ting Tang</span>
                  <span class="nuid">NUIDxxxxxx</span>
                </div>
                <div class="second-row">
                  <span class="twitter-handle">@jastangting</span>
                </div>
              </div>
            </div>
            <div class="date-time">Oct 17 4:30:00 PM</div>
            <div class="tweet-content">
              Server side rendering: when user request for the first time,
              server side will render the components/pages into HTML strings and
              return to client side. Client side then saved the trouble of
              generating DOM and run JS codes.
            </div>
            <div class="operation">
              <button class="operation-button">Detail</button>
              <button class="operation-button">Edit</button>
              <button class="operation-button">Delete</button>
            </div>
          </div>
          <div class="content-card">
            <div class="personal-info">
              <img
                src="../assets/img/avatar-tweet.png"
                alt="The profile image for the twitter user."
              />
              <div class="info-list">
                <div class="first-row">
                  <span class="student-name">Ting Tang</span>
                  <span class="nuid">NUIDxxxxxx</span>
                </div>
                <div class="second-row">
                  <span class="twitter-handle">@jastangting</span>
                </div>
              </div>
            </div>
            <div class="date-time">Oct 17 4:30:00 PM</div>
            <div class="tweet-content">
              Server side rendering: when user request for the first time,
              server side will render the components/pages into HTML strings and
              return to client side. Client side then saved the trouble of
              generating DOM and run JS codes.
            </div>
            <div class="operation">
              <button class="operation-button">Detail</button>
              <button class="operation-button">Edit</button>
              <button class="operation-button">Delete</button>
            </div>
          </div>
          <div class="content-card">
            <div class="personal-info">
              <img
                src="../assets/img/avatar-tweet.png"
                alt="The profile image for the twitter user."
              />
              <div class="info-list">
                <div class="first-row">
                  <span class="student-name">Ting Tang</span>
                  <span class="nuid">NUIDxxxxxx</span>
                </div>
                <div class="second-row">
                  <span class="twitter-handle">@jastangting</span>
                </div>
              </div>
            </div>
            <div class="date-time">Oct 17 4:30:00 PM</div>
            <div class="tweet-content">
              Server side rendering: when user request for the first time,
              server side will render the components/pages into HTML strings and
              return to client side. Client side then saved the trouble of
              generating DOM and run JS codes.
            </div>
            <div class="operation">
              <button class="operation-button">Detail</button>
              <button class="operation-button">Edit</button>
              <button class="operation-button">Delete</button>
            </div>
          </div>
          <div class="content-card">
            <div class="personal-info">
              <img
                src="../assets/img/avatar-tweet.png"
                alt="The profile image for the twitter user."
              />
              <div class="info-list">
                <div class="first-row">
                  <span class="student-name">Ting Tang</span>
                  <span class="nuid">NUIDxxxxxx</span>
                </div>
                <div class="second-row">
                  <span class="twitter-handle">@jastangting</span>
                </div>
              </div>
            </div>
            <div class="date-time">Oct 17 4:30:00 PM</div>
            <div class="tweet-content">
              Server side rendering: when user request for the first time,
              server side will render the components/pages into HTML strings and
              return to client side. Client side then saved the trouble of
              generating DOM and run JS codes.
            </div>
            <div class="operation">
              <button class="operation-button">Detail</button>
              <button class="operation-button">Edit</button>
              <button class="operation-button">Delete</button>
            </div>
          </div>
          <div class="content-card">
            <div class="personal-info">
              <img
                src="../assets/img/avatar-tweet.png"
                alt="The profile image for the twitter user."
              />
              <div class="info-list">
                <div class="first-row">
                  <span class="student-name">Ting Tang</span>
                  <span class="nuid">NUIDxxxxxx</span>
                </div>
                <div class="second-row">
                  <span class="twitter-handle">@jastangting</span>
                </div>
              </div>
            </div>
            <div class="date-time">Oct 17 4:30:00 PM</div>
            <div class="tweet-content">
              Server side rendering: when user request for the first time,
              server side will render the components/pages into HTML strings and
              return to client side. Client side then saved the trouble of
              generating DOM and run JS codes.
            </div>
            <div class="operation">
              <button class="operation-button">Detail</button>
              <button class="operation-button">Edit</button>
              <button class="operation-button">Delete</button>
            </div>
          </div>
          <div class="content-card">
            <div class="personal-info">
              <img
                src="../assets/img/avatar-tweet.png"
                alt="The profile image for the twitter user."
              />
              <div class="info-list">
                <div class="first-row">
                  <span class="student-name">Ting Tang</span>
                  <span class="nuid">NUIDxxxxxx</span>
                </div>
                <div class="second-row">
                  <span class="twitter-handle">@jastangting</span>
                </div>
              </div>
            </div>
            <div class="date-time">Oct 17 4:30:00 PM</div>
            <div class="tweet-content">
              Server side rendering: when user request for the first time,
              server side will render the components/pages into HTML strings and
              return to client side. Client side then saved the trouble of
              generating DOM and run JS codes.
            </div>
            <div class="operation">
              <button class="operation-button">Detail</button>
              <button class="operation-button">Edit</button>
              <button class="operation-button">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="./scripts/main.js"></script> -->
  </body>
</html>
